/* =========== 
   Layout 
   ============
*/

.about {
  position: relative;
  height: auto;
  width: auto;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #1e154c;
  padding-top: 5%;
}

.title {
  position: relative;
  width: 60%;
  z-index: 1;
}

.left-contain {
  position: relative;
  width: 50%;
  margin-left: 8%;
  margin-bottom: 15%;
  z-index: 2;
}

.right-contain {
  width: 40%;
  position: absolute;
  right: 0rem; 
  top: calc(20% + 5em);
  z-index: 2;
  margin-bottom: 15%;
}

/* =========== 
   Typography 
   ============
*/


.about .title h1 {
  color: #dcdde1;
  font-size: 5em;
}

.about .backgroundText {
  position: absolute;
  color: #dcdde1;
  font-family: 'Akrobat Black';
  bottom: -15%;
  left: 5%;
  font-size: 13.5em;
  opacity: 0.15;
  z-index: -2;
}

.about .backgroundText::selection  {
  background: none;
}

.about p {
  color: #dcdde1;
  font-size: 1.5em;
  padding: 10px;
}

.about .left-contain p {
  position: relative;
  width: 80%;
  margin-bottom: 5px;
  margin-top: 5px;
}

.right-contain p {
  color: #dcdde1;
  position: relative;
  bottom: 5px;
  padding-bottom: 15px;
}

/* =========== 
   Components 
   ============
*/

.right-contain svg {
  fill: #dcdde1;
  opacity: 0.5;
  float: left;
  padding-right: 30px;
}

.about button {
  font-family: 'Akrobat Bold';
  background-color: #dcdde1;
  color: #1e154c;
  opacity: 0.7;
  margin-top: 20px;
  padding: 12px 25px 15px 25px;
  border-radius: 34px;
  font-size: 20pt;
  transition: all 0.5s;
}

.about button:hover {
  opacity: 1; 
  background-color: #0ff2ff;
  color: #1e154c;
  filter: drop-shadow(2px 2px 10px #0ff2ff);
}

#github, .icons img {
  height: 60px;
  padding: 15px;
  margin-right: 20px;
}

/* =========== 
   Assets 
   ============
*/

.about .title svg {
  width: 70%;
  top: calc(20% + 6em);
  position: absolute;
  filter: drop-shadow(2px 2px 20px #0ff2ff);
}


.transitionAsset {
  position: absolute;
  width: 100%;
  z-index: 2;
  overflow-y: visible;
  overflow-x: hidden;
  bottom: 0;
}