/* =========== 
   Layout 
   ============
*/

.about {
  position: relative;
  height: auto;
  width: auto;
  min-width: 100vw;
  background-color: #1e154c;
  padding-top: 5%;
}

.title {
  position: relative;
  width: 100%;
  z-index: 1;
  word-break: keep-all;
  white-space: nowrap;
}

.left-contain {
  position: relative;
  width: 50%;
  display: inline-block;
  margin-left: 8%;
  z-index: 2;
}

.right-contain {
  width: 40%;
  position: relative;
  float: right;
  margin-top: 12rem;
  z-index: 2;
}

/* =========== 
   Typography 
   ============
*/


.about .title h1 {
  color: #dcdde1;
  font-size: 5em;
}

.about .backgroundText {
  position: absolute;
  color: #dcdde1;
  font-family: 'Akrobat Black';
  bottom: -15%;
  left: 5%;
  font-size: 13.5em;
  opacity: 0.15;
  z-index: -2;
}

.about .backgroundText::selection  {
  background: none;
}

.about p {
  color: #dcdde1;
  font-size: 1.5em;
  padding: 10px;
}

.about .left-contain p {
  position: relative;
  width: 80%;
  margin-bottom: 5px;
  margin-top: 5px;
}

.right-contain p {
  color: #dcdde1;
  position: relative;
  bottom: 5px;
  padding-bottom: 15px;
}

/* =========== 
   Components 
   ============
*/

.right-contain svg {
  height: 40px;
  width: 40px;
  fill: #dcdde1;
  opacity: 0.5;
  float: left;
  padding-right: 30px;
}

.about button {
  font-family: 'Akrobat Bold';
  background-color: #dcdde1;
  color: #1e154c;
  opacity: 0.7;
  margin-top: 20px;
  padding: 12px 25px 15px 25px;
  border-radius: 34px;
  font-size: 1.5em;
  transition: all 0.5s;
}

.about button:hover, .about button:focus {
  opacity: 1; 
  background-color: #0ff2ff;
  color: #1e154c;
}

#github, .icons img {
  height: 60px;
  padding: 15px;
  margin-right: 20px;
}

/* Removes red underline */
.icons a {
  text-decoration: none;
}

/* =========== 
   Assets 
   ============
*/

.about .title svg {
  width: 70%;
  top: calc(20% + 6em);
  position: absolute;
  filter: drop-shadow(2px 2px 20px #0ff2ff);
}


.transitionAsset {
  position: relative;
  width: 100%;
  z-index: 2;
  overflow-y: visible;
  overflow-x: hidden;
  margin-bottom: -5px;
}


  /* =========== 
    Circles 
    ============
  */

  ul {
    list-style-type: none;
    position: relative;
    width: 100vw;
    top: 100px;
    margin-bottom: -100px; /* don't take up space in document flow */
    transform: translateZ(0);
    z-index: 2;

    animation: bounce 5s ease-in-out infinite;
  }

  .circles * {
    position: absolute;
    z-index: 5;
    background-color: #4834d4;
    border-radius: 100%;
    float: left;
    animation: move 15s linear infinite;
    left: 55vw;
    margin-right: -55vw;
  }

  .circles li:nth-child(1) {
    width: 10px;
    height: 10px;
    top: 3vw;
    animation-delay: 8s;
  }

  .circles li:nth-child(2) {
    top: 5vw; 
    animation-delay: 10s;
  }

  
  .circles li:nth-child(3) {
    top: 2vw; 
    width: 10px;
    height: 10px;
  }

  .circles li:nth-child(4) {
    top: 3vw; 
    width: 7px;
    height: 7px;
    animation-delay: 2s;
  }

  @keyframes move {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translate(45vw, 1rem);
    }
  }


  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-1.5rem);
    }

    0% {
      transform: translateY(0);
    }
  }



/* =========== 
   Media Queries 
   ============
*/

@media only screen and (max-width: 900px) {
/* =========== 
   Layout 
   ============
*/

  .left-contain {
    position: relative;
    width: 100%;
    display: block;
    margin-left: 8%;
    padding-bottom: 10%;
  }
  
  .right-contain {
    width: 92%;
    position: relative;
    margin-top: 0;
  }

  ul {
    display: none;
  }

/* =========== 
   Typography 
   ============
*/

  .about .title h1 {
    font-size: 10vw;
    margin-left: 2%;
    margin-bottom: 0;
  }

  .about p {
    font-size: 3vw;
    padding: 10px;
  }

  .about .backgroundText {
    font-size: 35vw;  
    bottom: -5vw;
  }

  .about button {
    font-size: 4vw;
  }

  /* =========== 
    Assets 
    ============
  */

  .about .title svg {
    width: 70%;
    position: relative;
  }

  #github, .icons img {
    height: 8vw;
    min-height: 40px;
    padding: 15px;
    margin-right: 20px;
  }

  .right-contain svg {
    height: 5vw;
    min-height: 30px;
    padding-right: 5vw;
  }
}

@media only screen and (max-width: 600px) {
  .about p {
    font-size: 4.5vw;
  }

  .about .backgroundText {
    display: none;
  }

}

