/* =========== 
   Layout 
   ============
*/

.landing {
  height: auto;
  width: auto;
  min-width: 100vw;
  position: relative;
  background-image: radial-gradient(#020331 10%, #000000 120%);
  background-color: #000;
}

.title-contain {
  position: relative;
  padding-top: 25vh;
  width: 100%;
  margin: auto;
  text-align: center;
}

/* =========== 
   Typography 
   ============
*/

.title-contain h1::selection, .title-contain h2::selection, .title-contain span::selection  {
  background: none;
}

.title-contain h1, .title-contain h2 {
  font-family: 'Avenir LT Std';
  position: relative;
  text-align: center;
  margin: 0;
  width: 100%;
  z-index: 2;
  word-break: keep-all;
  white-space: nowrap;
}


.title-contain h1 {
  font-size: 8.5em;
  color: #FFF;
  text-shadow: 4px -2px 0px #ff1afc, 
               4px -2px 10px #ff1afc80, 
               -3px 3px 0px #15fcff, 
               -3px 3px 10px #15fcff80;
  padding: 20px 20px 0 20px;
}

.title-contain h2 {
  font-size: 3em;
  font-style: italic;
  font-weight: 65;
  color: #dcdde1;
  padding: 10px;
  margin-bottom: -320pt;
}

.highlight {
  color: #0ff2ff;
  text-shadow: 1px 1px 20px;
}

/* =========== 
   Images / Assets
   ============
*/

.landing img {
  position: relative;
  width: 105%;
  z-index: 5;
  filter: drop-shadow(0px 0px 30px rgba(15, 243, 255, 0.377));
  margin-bottom: -5px;
}

#titleAsset {
  width: 740pt;
  z-index: 1;
}

.asset-contain {
  width: 100vw; 
  margin: auto; 
  display: block;
  margin-bottom: -20vh;
}

/* #asset1 {
  position: absolute;
  width: 80px;
  left: 12rem;
  top: 5rem;
}

#tripleTriangle {
  position: absolute;
  width: 80px;
  right: 8rem;
  top: 5rem;
}

#doubleTriangle {
  position: absolute;
  width: 80px;
  left: 5rem;
  top: 25%;
}

#asset2 {
  position: absolute;
  width: 80px;
  left: 5rem;
  top: 27rem;
}

#circle {
  position: absolute;
  width: 30px;
  left: 13rem;
  top: 35rem;
} */

@media only screen and (max-width: 900px) {
  .title-contain h1 {
    font-size: 15vw;
  }

  .title-contain h2 {
    font-size: 4vw;
    margin-bottom: -40vw;
  }

  #titleAsset {
    width: 100vw;
    z-index: 1;
  }

  .asset-contain {
    margin-bottom: auto;
  }

  .landing {
    min-height: auto;
  }
}

@media only screen and (max-width: 500px) {
  .title-contain h1 {
    padding: 0;
    text-shadow: 0.5vw -0.5vw 0vw #ff1afc, 
                0.5vw -0.5vw 0.5vw #ff1afc80, 
                -0.5vw 0.5vw 0vw #15fcff, 
                -0.5vw 0.5vw 0.5vw #15fcff80;
  }

  .title-contain h2 {
    font-size: 6vw;
    margin-bottom: -45vw;
  }

  .title-contain {
    padding-top: 25vh;
  }
}