.landing {
  width: 100%;
  height: 100%;
  position: absolute; top: 0; left: 0;
  background-image: linear-gradient(#1f1f1e 10%, #151145 60%, #2e2244 90%);
  background-color: #000;
  overflow: hidden;
}

.title-contain {
  position: relative;
  z-index: 1;
  text-align: center;
}

.title-contain h1::selection, .title-contain h2::selection, .title-contain span::selection  {
  color: none;
  background: none;
}

.title-contain h1 {
  font-family: 'Akrobat Bold';
  position: relative;
  top: 23vh;
  z-index: 1;
  font-size: 90pt;
  color: #dcdde1;
}

.title-contain h2 {
  font-family: 'Akrobat Light';
  position: relative;
  color: #dcdde1;
  z-index: 1;
  top: 15vh;
  font-size: 32pt;
}

.highlight {
  color: #0ff2ff;
  text-shadow: 1px 1px 20px;
}

.landing img {
  position: absolute;
  bottom: -20pt;
  z-index: 0;
  width: 105%;
  filter: drop-shadow(0px 0px 30px rgba(15, 242, 255, 0.25));
}

#titleAsset {
  width: 250pt;
  position: relative;
  bottom: 18vh;
  z-index: 0;
  filter: drop-shadow(0px 0px 5px #0ff2ff);
}
