/* =========== 
   Layout 
   ============
*/

.navigation {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10;
  display: block;
  z-index: 10;
}

/* =========== 
   Typography 
   ============
*/

.navButton {
  color: #FFF;
  opacity: 0.5;
  font-family: 'Akrobat Light', sans-serif;
  padding: 5px;
  padding-right: 4%;
  padding-top: 20px;
  font-size: 20pt;
  float: right;
  transition: all 0.3s;
}

.navButton {
  color: none;
  background-color: none;
}


.navButton:hover, .focus {
  opacity: 1;
}

.navButton::after, .focus::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  margin-top: 5px;
  background-color: #0ff2ff;
  filter: drop-shadow(2px 2px 20px #0ff2ff);
  transition: all 0.3s;
  opacity: 0;
  transform: translateY(-10px);
}


.navButton:hover::after, .focus::after {
  opacity: 1;
  transform: translateY(0);
}

.focus:hover::after {
  background-color: #ccf8fc;
}