.navigation {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 10;
  display: block;
}

.navigation h1 {
  color: #9a9a9b;
  font-family: 'Akrobat Light', sans-serif;
  padding: 5px;
  padding-right: 4%;
  font-size: 20pt;
  float: right;
}

.navigation h1::selection {
  color: none;
  background-color: none;
}
