/* =========== 
   Layout 
   ============
*/

.projects {
    padding: 25vh 14vw 0 14vw;
}


.projects:last-of-type {
    padding-bottom: 20vh;
}


.projectContain {
    position: relative;
    width: 100%;
    min-height: 40rem;
    filter: drop-shadow(10px 10px 50px rgba(0, 0, 0, 0.5));
}

.projectCaption {
    position: relative;
    width: 100%;
}

.imgContain {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    overflow: hidden;
}

.projectIcons {
    position: relative;
    z-index: 2;
    height: 70px;
    margin-bottom: 1rem;
}

/* =========== 
   Typography 
   ============
*/

.projectTitle, .projectSub, .titleMore, .subMore, .description {
    position: relative;
    color: #dcdde1;
    z-index: 2;
}

.projectTitle, .titleMore {
    font-family: 'Akrobat Bold';
}

.projectSub, .subMore {
    font-family: 'Akrobat Semibold';
}

.projectTitle {
    text-shadow: 0 5px 8px rgba(0, 0, 0, 0.6);
    font-size: calc(3em + 3vw);
    width: 25%;
    line-height: 1;
    margin-bottom: 1rem;
    top: 10rem;
}

.projectSub {
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
    top: 9rem;
    font-size: calc(1.5em + 1vw);
}

.projectTitle, .projectSub {
    margin-left: -6vw;
}

.titleMore {
    font-size: calc(1.5em + 2.5vw);
    padding: 2rem 3rem 0rem 3rem;
    margin-bottom: 0.3rem;
    margin-top: 5.4rem;
}

.subMore {
    margin-top: 0;
    padding: 0rem 3rem 1rem 3rem;
    margin-bottom: 0;
    font-size: calc(1em + 1vw);
}

.description {
    font-family: 'Akrobat';
    font-size: calc(0.8em + 0.4vw);
    padding: 0rem 3rem 0rem 3rem;
}

.caption, .more {
    color: #FFF;
    opacity: 0.5;
}

.caption {
    font-family: 'Akrobat Semibold';
    font-size: 1.3em;
    float: left;
}

.more {
    font-family: 'Akrobat Bold';
    font-size: 1.5em;
    position: relative;
    float: right;
    margin: 1rem;
    transition: all 0.5s;
}

.more:hover, .more:focus {
    opacity: 1;
}

/* =========== 
   Components 
   ============
*/

.link {
    position: relative;
    font-family: 'Akrobat Bold';
    font-size: calc(0.6em + 1vw);
    background-color: #FFF;
    color: #000;
    opacity: 0.5;
    padding: 12px 25px 15px 25px;
    border-radius: 34px;
    z-index: 2;
    margin: 1rem 3rem 2rem 3rem;
    transition: all 0.5s;
}

.link:hover, .link:focus {
    opacity: 1; 
}

.embed {
    position: relative;
    fill: #FFF;
    opacity: 0.5;
    float: right;
    margin: 0.9rem 1rem 1rem 1rem;
    transition: all 0.5s;
}

.embed:hover {
    opacity: 1;
}


/* =========== 
   Assets 
   ============
*/

.img, .imgMore {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: scale(1.1);
}

.imgMore {
    opacity: 0.4;
    filter: blur(5px);
}

.projectIcons svg {
    float: left;
    min-height: 30px;
    height: 5vw;
    max-height: 50px;
    display: block;
    margin: 0.5rem;
    transition: all 0.5s;
}

.projectIcons svg:first-of-type {
    margin-left: 2rem;
}


.projectIcons svg:hover, .projectIcons svg:focus {
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.5));
}


@media only screen and (max-width: 600px) {
    .projects {
        padding: 25vh 5vw 0 5vw;
    }

    .projectTitle, .projectSub {
        margin-left: 0;
        width: 100%;
        text-align: center;
        top: 5rem;
    }

    .caption, .description {
        font-size: 16px;
    }

    .titleMore, .subMore, .description {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}